body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1320px;
    align-items: center;
    margin: auto;
}

.novigation {
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}

.logotip {
    display: flex;
    align-items: center;
}

.novigation--buttons {
    margin-left: 20px;
}

.reg--but {
    margin-left: 20px;
}